In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("email.csv")
data.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [5]:
data.tail(10)

            Category                                            Message
5563             ham                                Ard 6 like dat lor.
5564             ham  Why don't you wait 'til at least wednesday to ...
5565             ham                                       Huh y lei...
5566            spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567            spam  This is the 2nd time we have tried 2 contact u...
5568             ham               Will ü b going to esplanade fr home?
5569             ham  Pity, * was in mood for that. So...any other s...
5570             ham  The guy did some bitching but I acted like i'd...
5571             ham                         Rofl. Its true to its name
5572  {"mode":"full"                                    isActive:false}

In [6]:
data.shape

(5573, 2)

In [7]:
data.info

<bound method DataFrame.info of             Category                                            Message
0                ham  Go until jurong point, crazy.. Available only ...
1                ham                      Ok lar... Joking wif u oni...
2               spam  Free entry in 2 a wkly comp to win FA Cup fina...
3                ham  U dun say so early hor... U c already then say...
4                ham  Nah I don't think he goes to usf, he lives aro...
...              ...                                                ...
5568             ham               Will ü b going to esplanade fr home?
5569             ham  Pity, * was in mood for that. So...any other s...
5570             ham  The guy did some bitching but I acted like i'd...
5571             ham                         Rofl. Its true to its name
5572  {"mode":"full"                                    isActive:false}

[5573 rows x 2 columns]>

In [8]:
a = data.isnull()
print(a)

      Category  Message
0        False    False
1        False    False
2        False    False
3        False    False
4        False    False
...        ...      ...
5568     False    False
5569     False    False
5570     False    False
5571     False    False
5572     False    False

[5573 rows x 2 columns]

In [9]:
b = a.sum()
print(b)

Category    0
Message     0
dtype: int64

In [10]:
#x is the input here is the message while y is the output either ham or spam
x = data["Message"]
y = data["Category"]
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
5572                                      isActive:false}
Name: Message, Length: 5573, dtype: object

In [11]:
print(y)

0                  ham
1                  ham
2                 spam
3                  ham
4                  ham
             ...
5568               ham
5569               ham
5570               ham
5571               ham
5572    {"mode":"full"
Name: Category, Length: 5573, dtype: object

In [12]:
# make ham and spam they way a system undersatnd i.e 0 and 1
data["Category"] = data["Category"].map({"ham":0,"spam":1})

In [13]:
data.head(10)

   Category                                            Message
0       0.0  Go until jurong point, crazy.. Available only ...
1       0.0                      Ok lar... Joking wif u oni...
2       1.0  Free entry in 2 a wkly comp to win FA Cup fina...
3       0.0  U dun say so early hor... U c already then say...
4       0.0  Nah I don't think he goes to usf, he lives aro...
5       1.0  FreeMsg Hey there darling it's been 3 week's n...
6       0.0  Even my brother is not like to speak with me. ...
7       0.0  As per your request 'Melle Melle (Oru Minnamin...
8       1.0  WINNER!! As a valued network customer you have...
9       1.0  Had your mobile 11 months or more? U R entitle...

In [14]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
5572                                      isActive:false}
Name: Message, Length: 5573, dtype: object

In [15]:
print(y)

0                  ham
1                  ham
2                 spam
3                  ham
4                  ham
             ...
5568               ham
5569               ham
5570               ham
5571               ham
5572    {"mode":"full"
Name: Category, Length: 5573, dtype: object